---
layout: layouts/base.njk
---

<article>
  <div class="header">
    <h2>{{title}}</h2>
    <div>
      <time datetime="">~ {{ page.date | readableDate }}</time>
    </div>
  </div>
  <div class="content">
    {{ content | safe }}
  </div>
</article>
