---
import BaseLayout from "../layouts/BaseLayout.astro";

const allNotes = await Astro.glob("./notes/*.md");
const recentNotes = allNotes
  .sort((a, b) =>
    a.frontmatter.publishedAt < b.frontmatter.publishedAt ? 1 : -1
  )
  .slice(0, 5);
---

<BaseLayout>
  <header>
    <h1>What's on Mauro's Mind?</h1>
  </header>
  <main>
    <h2>Recent Notes</h2>
    <ul>
      {
        recentNotes.map((note) => {
          const publishedAt = note.frontmatter.publishedAt.split("T").at(0)
          return (
            <li>
              <span class="font-mono">{publishedAt}</span>{" "}
              <a href={note.url} class="font-semibold">
                {note.frontmatter.title}
              </a>
            </li>
          );
        })
      }
    </ul>
  </main>
</BaseLayout>
