---
import RecentNotes from "../components/RecentNotes.astro";
import BaseLayout from "../layouts/BaseLayout.astro";


---

<BaseLayout>
  <header>
    <h1>What's on Mauro's Mind?</h1>
  </header>
  <main>
    <RecentNotes />
  </main>
</BaseLayout>
