---
import BaseLayout from '../layouts/BaseLayout.astro';

---
<BaseLayout pageTitle="What's on Mauro's Mind?">
  <ul>
    <li><a href="/notes/games-that-are-cocaine-for-my-brain/">Games That Are Cocaine For My Brain</a></li>
    <li><a href="/notes/my-coffee-setup/">My Coffee Setup</a></li>
  </ul>
</BaseLayout>