---
import { getCollection } from "astro:content";

const allNotes = await getCollection("notes", note => !note.data.draft)
const recentNotes = allNotes
  .sort((a, b) =>
     b.data.publishedAt.getTime() - a.data.publishedAt.getTime()
  );
---
<ul>
  {
    recentNotes.map((note) => {
      const publishedAt = note.data.publishedAt.toISOString().split("T").at(0)
      return (
        <li>
          <span class="font-mono">{publishedAt}</span>{" "}
          <a href={`${note.collection}/${note.slug}`} class="font-semibold">
            {note.data.title}
          </a>
        </li>
      );
    })
  }
</ul>