---
import BaseLayout from "./BaseLayout.astro";

export interface Props {
  frontmatter: {
    title: string;
    publishedAt: string;
  }
}
const { frontmatter } = Astro.props;
const publishedAt = frontmatter.publishedAt.split("T")[0]
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>First published on {publishedAt}</p>
  <slot />
</BaseLayout>